<a href="https://colab.research.google.com/github/omisssss/automated-recipe-selector-/blob/main/ass5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hello")

hello

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from numpy import cov

In [11]:
#"C:\Users\mca63\Downloads\swedan linear.xlsx"


df=pd.read_excel('/content/swedan linear.xlsx')
df

      X      Y
0   108  392.5
1    19   46.2
2    13   15.7
3   124  422.2
4    40  119.4
..  ...    ...
58    9   87.4
59   31  209.8
60   14   95.5
61   53  244.6
62   26  187.5

[63 rows x 2 columns]

In [12]:
x = df.iloc[:, :-1].values #get a copy of dataset exclude last column
y = df.iloc[:, 1].values #get array of dataset in column 1st

In [13]:
print(x)

[[108]
 [ 19]
 [ 13]
 [124]
 [ 40]
 [ 57]
 [ 23]
 [ 14]
 [ 45]
 [ 10]
 [  5]
 [ 48]
 [ 11]
 [ 23]
 [  7]
 [  2]
 [ 24]
 [  6]
 [  3]
 [ 23]
 [  6]
 [  9]
 [  9]
 [  3]
 [ 29]
 [  7]
 [  4]
 [ 20]
 [  7]
 [  4]
 [  0]
 [ 25]
 [  6]
 [  5]
 [ 22]
 [ 11]
 [ 61]
 [ 12]
 [  4]
 [ 16]
 [ 13]
 [ 60]
 [ 41]
 [ 37]
 [ 55]
 [ 41]
 [ 11]
 [ 27]
 [  8]
 [  3]
 [ 17]
 [ 13]
 [ 13]
 [ 15]
 [  8]
 [ 29]
 [ 30]
 [ 24]
 [  9]
 [ 31]
 [ 14]
 [ 53]
 [ 26]]

In [14]:
print(y)

[392.5  46.2  15.7 422.2 119.4 170.9  56.9  77.5 214.   65.3  20.9 248.1
  23.5  39.6  48.8   6.6 134.9  50.9   4.4 113.   14.8  48.7  52.1  13.2
 103.9  77.5  11.8  98.1  27.9  38.1   0.   69.2  14.6  40.3 161.5  57.2
 217.6  58.1  12.6  59.6  89.9 202.4 181.3 152.8 162.8  73.4  21.3  92.6
  76.1  39.9 142.1  93.   31.9  32.1  55.6 133.3 194.5 137.9  87.4 209.8
  95.5 244.6 187.5]

In [15]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1/3, random_state=0

SyntaxError: ignored